.DS_Store
node_modules
/dist
output.js
/script/node/node_modules

# local env files
.env.local
.env.*.local


# Log files
logback


# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
*.iml
out
gen
target
